
// Use USB CDC as console output.
// Check out the docs: https://docs.zephyrproject.org/latest/services/usb/uds_cdc_acm.html#console-over-cdc-acm-uart


#include "../car-os/submodules/MCAL/Port/cfg/Port.dtsi"

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
	    compatible = "zephyr,cdc-acm-uart";
	    label = "CDC_ACM_0";
	};
};